.container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  color: var(--text-bg-color);

  background-image: url("./images/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: "rgba(255, 255, 255, 0.2)";
  backdrop-filter: blur(100px);
}
