.circle {
  position: relative;

  width: min(85vw, 85vh);
  aspect-ratio: 1 / 1;

  // border: 1px solid black;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url("./images/table.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    transform: scale(0.85);
  }
}

.circle-element {
  position: absolute;
  transform: translate(-50%, -50%);

  width: clamp(20px, min(12vw, 12vh), 120px);
  aspect-ratio: 1 / 1;

  border-radius: 50%;
}
